.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  font-size: 1.8rem;
}

p {
  font-size: 1.25rem;
}
