*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: color 0.3s ease;
}

:root {
  --font-heading: "Manrope", sans-serif;
  --font-body: "Roboto", sans-serif;

  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}
